
/* Your CSS Code here. */
.container{
	div-width:200px;
	background-color:purple;
	border-left-style: solid;
	border-left-color:green;
	border-left-width:5px;
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
	font-size:20px;
	color:white;
}

